.AppContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.leftBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #454545;
    height: 100%;
    width: 15%;
}

.ovalNavBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 400px;
    width: 100px;
    padding: 0 10px;
    border-radius: 50px;
    margin-top: 25px;
}

.leftBarLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    list-style-type: none;
    height: 50%;
    padding: 0;
}

.navLink a {
    text-align: center;
    color: white;
}

.navLink a:visited {
    color: yellow;
}

.scrollFeed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.feedBackground {
    background-color: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 35%;
    height: 100%;
}

.feedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #454545;
    top: 0;
    width: 35%;
    height: 20%;
}

.venueContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    position: absolute;
    top: 120px;
    width: 95%;
}

.venues {
    margin: 20px 0;
    width: 100%;
}

.venue-name {
    font-weight: bold;
    font-size: 20px;
}